$color-bg: #1f1f38;
$color-variant: #2c2c6c;
$color-primary: #4dbffd;
$color-primary-variant: rgba(77, 181.255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
$transition: all 400ms ease;

.about-us {
  display: flex;

  justify-content: center;
  text-align: center;

  .about-us_content {
    width: 35%;
  }
  .title {
    font-size: 5.25rem;
  }
}

.phone_case {
  min-height: 100vh;
  max-width: 100%;
  object-fit: cover;
}
.phone_case_container {
  .phone_case {
    opacity: 0.5;
    min-height: 100vh;
    max-width: 100vw;
    object-fit: cover;
  }
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 3px;
}

.about__card {
  background: $color-variant;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  transition: $transition;

  &:hover {
    background: transparent;
    border-color: $color-primary-variant;
    cursor: default;
  }

  h5 {
    font-size: 0.9rem;
  }
  small {
    font-size: 0.7rem;
    color: $color-light;
  }
}

.about__icon {
  color: $color-primary;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__content {
  p {
    margin: 2rem 0 2.6rem;
    color: $color-light;
  }
}

@media screen and (max-width: 1024px) {
  .about-us {
    .about-us_content {
      width: 70%;
    }
    .title {
      font-size: 4.25rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    .about-us_content {
      width: 90%;
    }
    .title {
      font-size: 3.25rem;
    }
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__card {
    padding: 1rem;
    h5 {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }
}
