.about-us {
  display: flex;

  justify-content: center;
  text-align: center;

  .content {
    width: 35%;
  }
  .title {
    font-size: 5.25rem;
  }
}

.phone_case {
  min-height: 100vh;
  max-width: 100%;
  object-fit: cover;
}
.phone_case_container {
  .phone_case {
    opacity: 0.5;
    min-height: 100vh;
    max-width: 100vw;
    object-fit: cover;
  }
}
@media screen and (max-width: 1024px) {
  .about-us {
    .content {
      width: 60%;
    }
    .title {
      font-size: 4.25rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    .content {
      width: 90%;
    }
    .title {
      font-size: 3.25rem;
    }
  }
}
