@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.exp_container {
  flex-direction: row;
  font-family: "Ubuntu Mono", monospace;
  .left-side {
    background: black;
    flex: 50%;
    flex-grow: 1;
    height: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
    .icon {
      color: white;
    }
    .skill-box {
      border: 2px solid white;
      color: white;
    }
  }
  .right-side {
    background: white;
    flex: 50%;
    flex-grow: 1;
    height: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .skill-box {
    border: 2px solid black;
    color: black;
    padding: 2rem;
    width: 35vw;
    min-height: 60vh;
    line-height: 1.5em;
  }

  .icon {
    font-size: 2.5rem;
    margin: 5px;
  }
  .skill-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skill-title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .skill-body {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.5em;
  }
  .skills-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1.5rem;
  }
}
